<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <link rel="stylesheet" href="./style.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <title>Scraaaaaper</title>

  <body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container" id="titleText">
        <h1 class="display-4">Let's Scrape:</h1>
        <img class="logo" src="https://www.washingtonpost.com/pb/resources/img/twp-masthead-415x57.svg">
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" id="scraper">SCRAPE</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-secondary" id="clear">clear</button>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div id="articles"></div>
      <div id="notes"></div> -->

      {{{ body }}}



  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="../app.js"></script>

</html>
