{{#each this.notes}}


            <p class="previousNotes"> {{this.body}}</p>
            <button type="button" class="btn btn-danger deleteNote" data-note-id={{this._id}} data-article-id={{this.article}}>Delete</button>

{{/each}}
